OPENAI_API_KEY=your-openai-key-here
DATABASE_URL=postgres://user:pass@localhost:5432/dbname


# API Endpoints
OPEN_STUDY_BUILDER_URL=https://preview17.clinicalmdr-dev.corp.azure.novonordisk.com/api # <- fixed typo here

GEMINI_API_KEY=AIzaSyA2u2kMshtxpRYcnoyuazH8rxYSVQnGT9A
SERP_API_KEY=1470c630c504b68afa02aafe583e81b03205313f23af9ec2ac1476780b0fdeca
GEMINI_MODEL=gemini-2.5-pro-exp-03-25
GOOGLE_API_KEY=AIzaSyA2u2kMshtxpRYcnoyuazH8rxYSVQnGT9A


SEARCH_ENGINE_ID=77673a919a3eb4a88
SERPAPI_KEY=1470c630c504b68afa02aafe583e81b03205313f23af9ec2ac1476780b0fdeca

GEMINI_MODEL=gemini-2.5-pro-exp-03-25
GEMINI_MODEL2=gemini-2.0-flash-exp